<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MailAuthorization.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MailAuthorization.Properties.Settings>
            <setting name="YandexLogin" serializeAs="String">
                <value>test.csharp</value>
            </setting>
            <setting name="YandexPassword" serializeAs="String">
                <value>fbqubfjlxkpvaajt</value>
            </setting>
        </MailAuthorization.Properties.Settings>
    </userSettings>
</configuration>